:root {
    /* COLOR VARIABLES
       Pokemon color theme */
    --clr-pok-red: #FB1B1B;
    --clr-pok-black: #000000;
    --clr-pok-grey: #DFDFDF;
    --clr-pok-white: #FFFFFF;

    --clr-pok-blue-dark: #0A285F;
    --clr-pok-blue-light: #0075BE;
    --clr-pok-yellow-dark: #D5A100;
    --clr-pok-yellow-light: #FFCC00;

    /* Additional colors */
    --clr-accent: #37796C;
    --transparent-bg: rgba(0, 0, 0, 0.7);

    /* FONTS
       Typeface */
    --font-h: 'Pokemon Solid', sans-serif;
    --font-p: "Roboto", sans-serif;

    /* font-sizes */
    --size-h1: 2.5em;
    --size-p: 1em;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: var(--font-h);
    color: var(--clr-pok-white);
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: var(--clr-pok-blue-dark);
    justify-self: start;
}

p {
    font-family: var(--font-p);
}

body {
    background-color: var(--clr-pok-yellow-light);
    display: grid;
    justify-content: center;
}


.pokemon-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

.listItem {
    box-sizing: border-box;
    margin: 10px 0 10px 0;
}

.button {
    padding: 10px;
    width: 300px;
    font-family: var(--font-p);
    color: var(--clr-pok-white);
    background-color: var(--clr-pok-red);
    font-size: var(--size-p);
    font-weight: bold;
    text-transform: capitalize;
    border: solid 2px var(--clr-pok-blue-dark);
    border-radius: 300px;
}

.form-field {
    margin: 15px 0 0 0;
    padding: 10px 20px;
    width: 255px;
    font-family: var(--font-p);
    color: var(--clr-pok-blue-dark);
    background-color: var(--clr-pok-white);
    font-size: var(--size-p);
    font-weight: 400;
    border: solid 1px var(--clr-pok-blue-dark);
    border-radius: 300px;
}

/* change color of button, when pokemon is selected */
.selected-pokemon {
    background-color: var(--clr-accent);
}

/* -------- MODAL WITH POKEMON DETAILS --------- */

/* Modal Container */
#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    align-content: center;
    justify-content: center;

    background-color: var(--transparent-bg);
}

/* Modal */
.modal {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr 1fr;

    background-color: var(--clr-pok-grey);
    max-width: 700px;
    padding: 30px;
}

/* Title of modal: name of pokemon */
.modal-h1 {
    display: inline-block;
    margin: 0;

    text-transform: capitalize;
    letter-spacing: 4px;
}

/* Content of modal: Pokemon height and types */
.modal-p {
    color: var(--clr-pok-blue-dark);
    margin: 0;
    align-self: end;
    text-transform: capitalize;
}

/* Modal Image: Pokemon Sprite */
.modal-img {
    width: 200px;
    height: 200px;
    padding: 30px;
    overflow: visible;
    grid-row-start: span 3;

    border-radius: 100%;
    outline: 1px solid var(--clr-pok-blue-dark);
    background-color: var(--clr-pok-white);
}

/* Modal Button: close modal */
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
}

/* -------- MEDIA QUERYS --------- */

@media all and (max-width: 700px) {
    /* Modal grid */
    .modal {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3.5fr 1fr 1fr;
        grid-gap: 10px;
        align-items: center;
    }

    .pokemon-list {
        grid-gap: 15px;
    }

    .button {
        width: 120px;
        margin: 0;
    }
}